<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Log in With Facebook", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary navbar-btn navbar-right" %><br />
  <% end -%>
<% end -%>
