<div class="panel panel-danger">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    ooops!
  </div>
  <div class="panel-body">
    <p>
      LilyBug knows that word already, silly
    </p>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <%= button_to "Okay",root_url, method: 'get', class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>
