<div class="row">
  <div class="col-xs-12 col-xs-offset-2 col-md-offset-1">
    <h3>
    </h3>
</div>
</div>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-6 col-md-offset-1">
      <%= button_to "Add Word", new_word_path, :class => "btn btn-primary btn-block", :method => :get %>
    </div>
  </div>
  <br />
<% end %>

<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-6 col-md-offset-1">
    <%= form_tag '/', :method => 'get' do %>
    <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Find Word</button>
        </span>
      <% end %>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-6">
    <div class="table-responsive">
      <table class="table table-bordered">
        <% @words.each do |word| %>
          <tr>
            <td class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
              <%= word.value %>
            </td>
            <td class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
              <% if user_signed_in? %>
                <%= button_to word, method: "delete", class: "btn btn-primary btn-xs", data: { confirm: "LilyBug forgot this word?" } do %>
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-xs-12">
      <%= will_paginate @words, renderer: BootstrapPagination::Rails %>
    </div>
    <div class="col-xs-12">
      <%= page_entries_info %>
    </div>
  </div>
</div>
