<div class="panel panel-default">
  <div class="panel-heading">Add Word - Yay!</div>
  <div class="panel-body">
    <div class="row">
      <%= bootstrap_form_for :word, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8", url: {action: "create"}, class: "" do |f| %>
      <%= f.text_field :value %><br />
      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <%= f.submit "Add Word", class: "btn btn-primary btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
