<!DOCTYPE html>
<html>
<head>
  <title>LilyWordCounter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style media="screen">
    body { padding-top: 70px; }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        LilyBug Word Tracker
      </a>
      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_url, :class => "btn btn-primary navbar-btn navbar-right", :method => :delete %>
      <% else %>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </nav>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
